@import "configuration";

// Common

* {
  margin: 0;
  padding: 0;
}

body {
  @include normalfont;
  font-size: 14px;
  color: $black;
  background-color: $background;
}

.loader {
  width: 100px;
  height: 100px;
  background: url("../images/loader.gif") no-repeat scroll center center;
  background-size: 100%;
  margin: 200px auto;
}

// Footer

footer {
  padding: 10px;
  background-color: $white;
  border-top: 1px solid $border;
  color: $grey;
  margin-top: 30px;
}

// Flexbox layout

.flex-container-fluid {
  margin-right: auto;
  margin-left: auto;
  @include display-flex;
  @include flex-direction(column);
  min-height: 100vh;
  .flex-row {
    box-sizing: border-box;
    @include display-flex;
    &.all-space {
      @include flex(1 0 auto);
    }
    .flex-span {
      box-sizing: border-box;
      @include flex(1 1 auto);
    }
  }
}

// IE only
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    height: 100%;
  }
  body, .flex-container-fluid {
    min-height: 100%;
    height: 100%;
  }
}

// Charts

.chart-description {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  h2 {
    font-size: 30px;
    @include lightfont;
    padding-bottom: 20px;
  }
  label {
    font-size: 16px;
  }
  input {
    padding: 5px;
    font-size: 16px;
    outline: none;
    border: 1px solid $border;
    @include transition(300ms);
    &:active,
    &:focus {
      border-color: $blue;
    }
  }
}
.chart-wrap {
  width: 90%;
  margin: 0 auto;
  background-color: $white;
  padding: 30px 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.small-chart {
  width: 99%;
  .chart-wrap {
    width: 100%;
  }
}

// Content

.content {
  width: 90%;
  margin: 20px auto;
  .small-block,
  .wide-block {
    width: 46%;
    margin: 0 2% 20px;
    float: left;
    text-align: center;
    padding: 10px 0;
    > a {
      font-size: 16px;
      @include lightfont;
      color: $black;
      display: inline-block;
      margin-bottom: 20px;
      @include link;
    }
  }
  .wide-block {
    width: 96%;
    .small-chart {
      width: 100%;
    }
  }
  h2 {
    @include boldfont;
    font-size: 32px;
  }
  p, li {
    @include lightfont;
    font-size: 18px;
  }
  p {
    padding-top: 15px;
  }
  &.not-found {
    padding: 100px 0;
    text-align: center;
  }
}

.text-page {
  h3 {
    @include boldfont;
    font-size: 24px;
    margin: 20px 0 10px;
  }
  ul {
    padding-left: 30px;
    li {
      & + li {
        margin-top: 6px;
      }
    }
  }
  a {
    @include link;
  }
}

// Mobile

@media (max-width:767px) {
  .content {
    .small-block,
    .wide-block {
      width: 96%;
    }
  }
}
