@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

// Colors

$clear: transparent;
$white: #fff;
$black: #000;
$border: #ddd;
$background: #f9f9f9;
$grey: #777;
$blue: #1e88de;

// Fonts

@mixin lightfont {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
@mixin normalfont {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
@mixin boldfont {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

// Flexbox

@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin flex-direction($value) {
  flex-direction: $value;
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
}

// Text

@mixin hide-text {
  overflow: hidden;
  text-indent: -9999px;
}

// Effects

@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition:    all $time ease-in-out;
  -o-transition:      all $time ease-in-out;
  transition:         all $time ease-in-out;
}

// Links

@mixin link {
  text-decoration: none;
  border-bottom: 1px solid $clear;
  @include transition(200ms);
  &:hover {
    border-color: $blue;
    color: $blue;
  }
}