@import "configuration";

header {
  background-color: $white;
  border-bottom: 1px solid $border;
  padding: 10px 20px;
  .logo {
    display: block;
    @include hide-text;
    height: 60px;
    width: 200px;
    background: $clear url("../images/logo.svg") no-repeat scroll left top;
    background-size: 100%;
    float: left;
  }
  .menu {
    list-style-type: none;
    float: right;
    padding-top: 16px;
    li {
      display: block;
      float: left;
      margin-left: 20px;
      position: relative;
      a {
        font-size: 18px;
        @include lightfont;
        text-transform: uppercase;
        color: $black;
        @include link;
        outline: none;
        &:focus + ul {
          visibility: visible;
          opacity: 1;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      ul {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: $white;
        border: 1px solid $border;
        padding: 10px 14px;
        width: 300px;
        right: -20px;
        top: 40px;
        z-index: 3000;
        li {
          float: none;
          margin: 0;
          padding: 4px 0;
          a {
            text-transform: initial;
            font-size: 16px;
          }
        }
      }
    }
  }
}

// Mobile

@media (max-width:767px) {
  header {
    .logo {
      float: none;
      margin: 0 auto;
    }
    .menu {
      float: none;
      margin: 0 auto;
      text-align: center;
      li {
        display: inline-block;
        float: none;
        position: inherit;
        ul {
          width: 100%;
          left: 0;
          right: 0;
          top: 120px;
          box-sizing: border-box;
          li {
            text-align: left;
            position: initial;
            display: block;
          }
        }
      }
    }
  }
}
