.clearfix {
  min-height: 1px;
  &:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}