!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %title Aviation stats
    %meta{name: "description", content: ""}
    %meta{name: "viewport", content: "width=device-width"}
    %link{rel: "stylesheet", href: "styles/styles.css"}

  %body
    .flex-container-fluid
      .flex-row
        .flex-span.js-header
      .flex-row.all-space
        .flex-span.js-content
          .loader
      .flex-row
        .flex-span
          %footer
            &copy; 2016 Aviation Stats
    %script{src: "/vendor/requirejs/require.js", "data-main": "scripts/bootstrap"}